.navbar {
  display: flex;
  justify-content: space-between;
}

#name {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
}

.navbar ul {
  padding: 0;
}

.extra-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

.nav-link {
  display: inline-block;
  padding: 1rem;
}
.nav-link .link {
  text-decoration: none;
  color: black;
}
.nav-link .link:hover {
  font-weight: bolder;
}

.vine-container {
  margin-top: 3rem;
  margin-bottom: 0;
}

.vine-logo {
  display: inline-block;
}

.vine {
  width:1px;
  justify-content: center;
  align-items: center;
  border-bottom:2px solid #000;
  text-decoration: none;
  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s; 
  -o-animation:      increase 3s; 
  animation:         increase 3s; 
  animation-fill-mode: forwards;
}

@keyframes increase {
  100% {
      width: 250px;
  }
}

li .dot {
  display: inline-block;
  margin: 2px;
  width: 6px;
  height: 6px;
  background: green;
  border-radius: 45%;
  transition: width 1s ease;
  -webkit-animation: run 3s 3s;
  -webkit-animation-fill-mode: forwards;
  animation: run 3s 3s; 
  animation-fill-mode: forwards;
}

@-webkit-keyframes run {
  from{ transform: translateX(0);}
  to{transform: translateX(220px)}
}

@keyframes run {
  from{ transform: translateX(0);}
  to{transform: translateX(220px)}
}