.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#name {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: 600;
}

#name .link:hover {
  font-weight: 500;
  color: var(--secondary-theme-color);
}

.navbar__links--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}

.navbar__links {
  display: inline-block;
  padding: 1rem;
}
.navbar__links .link {
  text-decoration: none;
  color: black;
}
.navbar__links--container .navbar__links .link:hover {
  font-weight: bolder;
}

.vine__container {
  margin-top: 3rem;
  margin-bottom: 0;
}

.vine__container--logo {
  display: inline-block;
}

.vine__container--vine {
  width:1px;
  justify-content: center;
  align-items: center;
  border-bottom:2px solid #000;
  text-decoration: none;
  -webkit-animation: grow 3s;
  -moz-animation:    grow 3s; 
  -o-animation:      grow 3s; 
  animation:         grow 3s; 
  animation-fill-mode: forwards;
}

.vine__container--grapes {
  display: inline-block;
  margin: 2px;
  width: 6px;
  height: 6px;
  background: var(--primary-theme-color);
  border-radius: 45%;
  transition: width 1s ease;
  -webkit-animation: run 3s forwards 3s;
  animation: run 3s forwards 3s; 
}

@keyframes grow {
  100% {
      width: 250px;
  }
}

@-webkit-keyframes run {
  from{transform: translateX(0);}
  to{transform: translateX(220px);}
}

@keyframes run {
  from{transform: translateX(0);}
  to{transform: translateX(220px);}
}
/* create bounce first*/
@keyframes curl {

}