.form {
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: repeat(6, auto);
  justify-content: center;
  height: 35%;
  width: 100%;
}

.form > label {
  font-size: 1.5rem;
  text-align: right;
  margin: auto 0;
}

.form__input--round {
  margin: 0.5rem; 
  padding: 0.75rem;
  height: 3rem;
  width: 3rem; 
  border: 0.2rem solid rgb(206, 204, 204);
  border-radius: 25px;
  outline: none;
  background: var(--primary-theme-color);
  line-height: 1.5;
  color: #ffffff;
  font-weight: 800;
}

.form__input--round:hover {
  -webkit-animation: bloat 1s ease-in-out 1s forwards;
  animation: bloat 1s ease-in-out 1s forwards; 
}

.form__input-round_clicked {
  margin: 0.5rem; 
  padding: 0.75rem;
  height: 3rem;
  width: 3rem; 
  border: 0.2rem solid rgb(206, 204, 204);
  border-radius: 25px;
  outline: none;
  background: var(--primary-theme-color);
  line-height: 1.5;
  color: #ffffff;
  font-weight: 800;
  animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards,roll 3s 2.05s ease forwards;
}

::placeholder {
  font: 1rem;
  font-weight: 600;
  color: #ffffff;
}

input[type='submit'] {
  grid-column-start: 2;
  height: 2.5rem;
  width: 10rem;
  justify-self: center;
  border: 1px solid #666;
  border-radius: 25px;
  outline: none;
}

@keyframes bounce {
  60%, 80%, to { 
    transform: translateY(400px); 
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  70% { transform: translateY(300px); }
  90% { transform: translateY(360px); }
}
@keyframes roll {
  from { 
    transform: translateY(400px) rotate(0deg);
  }
  to { 
    transform: translate(1000px, 400px) rotate(359deg);
  }
}

@-webkit-keyframes bloat {
  100% {
    width: 15rem; 
  }
}

@keyframes bloat {
  100% {
    width: 15rem; 
  }
}

