* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}

:root {
  --default-margin: 2rem;
  --primary-theme-color: #735cf5;
  --secondary-theme-color:rgb(28, 148, 28);
  --border-light: 2px solid rgb(204, 204, 204);
  --background-default-color: #ffffff;
}

.content__center--default {
  display: flex;
  justify-content: center;
  margin: var(--default-margin);
}

.btn__main--round {
  height: 2.5rem;
  width: 10rem;
  border: 1px solid #666;
  border-radius: 25px;
  outline: none;
  background-color: var(--secondary-theme-color);
  color: #ffffff;
  font-weight: 800;
  font-size: 1rem;
}

.btn__main--round:hover {
  background-color: var(--primary-theme-color);
  transition: background-color 0.75s ease-out;
}

.container__main--default {
  display: flex;
  justify-content: center;
}

.container__main--default > div {
  margin: var(--default-margin);
}

.message__list--default ul > li {
  list-style-type: none;
  margin: 0.5rem;
}


